body {
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  width: 100vw;
}
.pannel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 1;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease-in;
  position: relative;
}
.pannel.active {
  flex: 8;
}
.pannel h3 {
  font-size: 24px;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
.pannel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 480px) {
  .pannel:nth-of-type(4),
  .pannel:nth-of-type(5) {
    display: none;
  }
}
